<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>inscription</h1>

        <form id="sign up" action="" method="">
         {{csrfField() }}
          <input type="name">
         <input type="full-name">
         <input type="mail">
         <input type="passeword">
         <input type="submit">
      </form>

    </div>
</body>
</html>