<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <div>
        <h1>sign up</h1>

        <form id="sign up" action="" method="">
         {{csrfField() }}

         <input type="text" name="fullName" placeholder="fullmane">
         <input type="email" name="email"  placeholder="email">
         <input type="password" name="password"  placeholder="password">
         <button type="submit">submit</button>
      </form>

    </div>
</body>
</html>